<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-4 mb-4"><%= @user.name %>さんのお問い合わせ一覧</h2>
      <% @contacts.each do |contact| %>
        <table class="table">
          <thead>
            <tr>
              <th>問い合わせ日</th>
              <th>件名</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= contact.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= link_to contact.title, contact_path(contact) %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row flex justify-content-center">
    <%= paginate @contacts %>
  </div>
</div>