<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-4 mb-4">コメント一覧</h2>
      <%= render "public/shared/comment_view", comments: @comments %>
    </div>
  </div>
</div>