<div class="container">
  <div class="card bg-dark text-white">
    <img id="dynamicImage" class="fade-in" src="assets/top-1.jpg" class="card-img" alt="Top画像">
    <div class="card-img-overlay">
        <div class="row flex justify-content-center">
          <h1 class="card-title">DiscoverPlacesへようこそ！</h2>
        </div>
        <div class="text-center">
          <p>「DiscoverPlaces」はみなさんのお気に入りの場所を投稿できます</p>
          <p>有名スポットや隠れ家的スポットなど</p>
          <p>楽しめる場所がいっぱい。</p>
          <p>みなさんもお気に入りの場所を投稿・検索してみませんか。</p>
        </div>
        <div class="row flex justify-content-center">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary ml-2 mr-2" %>
          <%= link_to "試しに使ってみる", users_guest_sign_in_path, method: :post, class: "btn btn-warning" %>
        </div>
    </div>
  </div>
</div>

<script>
  var images = ["assets/top-1.jpg", "assets/top-2.jpg", "assets/top-3.jpg", "assets/top-4.jpg", "assets/top-5.jpg", "assets/top-6.jpg"];
  var currentIndex = 0;
  var imageElement = document.getElementById("dynamicImage");

  function changeImage() {
      // 新しい画像のインデックスを決定
      currentIndex = (currentIndex + 1) % images.length;

      // フェードアウト後に新しい画像を設定し、フェードインする
      imageElement.classList.remove("visible");
      setTimeout(function() {
          imageElement.src = images[currentIndex];
          imageElement.classList.add("visible");
      }, 900); // 0.9秒後に切り替え
  }

  // 最初のフェードイン
  imageElement.classList.add("visible");

  // 5秒ごとに画像を変更
  setInterval(changeImage, 5000);
</script>